:root {
	--blue-950: hsl(207, 26%, 17%);
	--blue-900: hsl(209, 23%, 22%);
	--grey-950: hsl(200, 15%, 8%);
	--grey-400: hsl(0, 0%, 50%);
	--grey-50: hsl(0, 0%, 99%);
	--white: hsl(0, 100%, 100%);

	--font-weight-s: 300;
	--font-weight-x: 600;
	--font-weight-xl: 800;
}

body {
	font-family: "Nunito Sans", sans-serif;
	font-size: 14px;
}
