:root {
	--blue-950: hsl(207, 26%, 17%);
	--blue-900: hsl(209, 23%, 22%);
	--grey-950: hsl(200, 15%, 8%);
	--grey-400: hsl(0, 0%, 50%);
	--grey-50: hsl(0, 0%, 99%);
	--white: hsl(0, 100%, 100%);

	--font-weight-s: 300;
	--font-weight-x: 600;
	--font-weight-xl: 800;
}

body {
	font-family: "Nunito Sans", sans-serif;
	font-size: 14px;
	background-color: var(--grey-50);
	color: var(--grey-950);
}

@mixin containerElement() {
	width: 92%;
	max-width: 1024px;
	margin-inline: auto;
}

header {
	background-color: var(--white);
	box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;

	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 72px;
		@include containerElement;

		.logo-text {
			font-weight: var(--font-weight-xl);
		}

		.theme {
			display: flex;
			align-items: center;
			gap: 8px;

			.theme-text {
				font-weight: var(--font-weight-x);
				font-size: 12px;
			}
		}
	}
}
