:root {
	--blue-950: hsl(207, 26%, 17%);
	--blue-900: hsl(209, 23%, 22%);
	--grey-950: hsl(200, 15%, 8%);
	--grey-400: hsl(0, 0%, 50%);
	--grey-50: hsl(0, 0%, 99%);
	--white: hsl(0, 100%, 100%);

	--font-weight-s: 300;
	--font-weight-l: 600;
	--font-weight-xl: 800;

	&:has([data-theme="light"]) {
		color-scheme: light;
	}

	&:has([data-theme="dark"]) {
		color-scheme: dark;
	}
}

body {
	font-family: "Nunito Sans", sans-serif;
	font-size: 14px;
	background-color: light-dark(var(--grey-50), var(--blue-950));
	color: light-dark(var(--grey-950), var(--white));
}

@mixin containerElement() {
	width: 92%;
	max-width: 1300px;
	margin-inline: auto;
}

.field-key {
	font-weight: var(--font-weight-l);
	margin-right: 4px;
}

.field-value {
	font-weight: var(--font-weight-s);
}

header {
	background-color: light-dark(var(--white), var(--blue-900));
	box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
	margin-bottom: 40px;

	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 72px;
		@include containerElement;

		.logo-text {
			font-weight: var(--font-weight-xl);
		}

		.theme {
			display: flex;
			align-items: center;
			gap: 8px;
			cursor: pointer;

			.theme-text {
				font-weight: var(--font-weight-l);
				font-size: 12px;
			}
		}
	}
}

main {
	@include containerElement;

	.search {
		margin-bottom: 48px;

		.search-bar {
			background-color: light-dark(var(--white), var(--blue-900));
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			display: flex;
			align-items: center;
			gap: 28px;
			border-radius: 4px;
			padding: 12px 16px 12px 32px;
			margin-bottom: 40px;

			.search-icon {
				width: 28px;
				height: 28px;
				opacity: 0.4;
			}

			.search-input {
				background-color: light-dark(var(--white), var(--blue-900));
				flex: 1;

				&:focus {
					outline: none;
				}

				&::placeholder {
					color: var(--grey-400);
				}
			}
		}

		.custom-select {
			.select-button {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 16px 24px;
				background-color: light-dark(var(--white), var(--blue-900));
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
				width: 230px;
				margin-bottom: 8px;
			}

			.custom-select-dropdown {
				background-color: light-dark(var(--white), var(--blue-900));
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
				width: 230px;
				padding: 16px 24px;
				position: absolute;
				z-index: 2;
				display: flex;
				flex-direction: column;
				gap: 8px;

				.dropdown-item {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 12px;
					cursor: pointer;

					.cross-icon {
						display: none;
					}

					&.selected .cross-icon {
						display: block;
					}

					li {
						flex: 1;
					}
				}
			}
		}
	}

	.country-list {
		display: grid;
		gap: 36px;

		.country {
			width: 270px;
			margin-inline: auto;
			background-color: light-dark(var(--white), var(--blue-900));
			box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
			border-radius: 8px;

			img {
				border-radius: 8px;
				width: 100%;
				height: 180px;
			}

			.country-info-wrapper {
				padding: 24px 24px 40px;

				.country-name {
					font-weight: var(--font-weight-xl);
					margin-bottom: 12px;
					font-size: 18px;
				}

				.country-info {
					display: flex;
					flex-direction: column;
					gap: 8px;
				}
			}
		}

		.empty-screen {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: light-dark(var(--white), var(--blue-900));
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
			padding: 16px 24px;
			border-radius: 4px;

			.empty-screen-text {
				width: 20ch;
				line-height: 1.5;
			}
			.empty-screen-icon {
				width: 36px;
				height: 36px;
			}
		}

		.skeleton-element {
			background-color: light-dark(var(--white), var(--blue-900));
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

			.skeleton-img {
				background-color: var(--grey-400);
				height: 150px;
				border-radius: 8px;
				position: relative;
				overflow: hidden;

				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: -100%;
					height: 100%;
					width: 100%;
					background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
					animation: shimmer 1.5s infinite;
				}
			}

			.skeleton-info-wrapper {
				background-color: light-dark(var(--white), var(--blue-900));
				padding: 24px 24px 40px;

				.skeleton-name {
					background-color: var(--grey-400);
					width: 120px;
					height: 24px;
					margin-bottom: 20px;
					position: relative;
					overflow: hidden;

					&::after {
						content: "";
						position: absolute;
						top: 0;
						left: -100%;
						height: 100%;
						width: 100%;
						background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
						animation: shimmer 1.5s infinite;
					}
				}

				.skeleton-info {
					display: flex;
					flex-direction: column;
					gap: 12px;

					.skeleton-info-element {
						background-color: var(--grey-400);
						width: 160px;
						height: 14px;
						position: relative;
						overflow: hidden;

						&::after {
							content: "";
							position: absolute;
							top: 0;
							left: -100%;
							height: 100%;
							width: 100%;
							background: linear-gradient(
								90deg,
								transparent,
								rgba(255, 255, 255, 0.4),
								transparent
							);
							animation: shimmer 1.5s infinite;
						}
					}
				}
			}
		}
	}

	.country-detail {
		width: 320px;
		margin-inline: auto;
		font-size: 16px;
		padding-bottom: 24px;

		.go-back-button {
			background-color: light-dark(var(--white), var(--blue-900));
			box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 12px;
			width: 104px;
			height: 32px;
			font-weight: var(--font-weight-s);
			margin-bottom: 64px;
			border-radius: 4px;
		}

		.country {
			display: flex;
			flex-direction: column;
			gap: 40px;

			img {
				width: 100%;
				height: 180px;
			}

			.country-info {
				.country-name {
					font-weight: var(--font-weight-xl);
					font-size: 22px;
					margin-bottom: 20px;
				}

				.country-info-wrapper {
					display: flex;
					flex-direction: column;
					gap: 44px;
					margin-bottom: 48px;

					[class^="country-info"] {
						display: flex;
						flex-direction: column;
						gap: 12px;
					}
				}

				.border-countries {
					display: flex;
					flex-direction: column;
					gap: 16px;

					.text {
						font-weight: var(--font-weight-l);
						font-size: 18px;
						text-wrap: nowrap;
					}

					.border-links-wrapper {
						display: flex;
						flex-wrap: wrap;
						gap: 12px;

						.border-link {
							background-color: light-dark(var(--white), var(--blue-900));
							min-width: 98px;
							box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
							padding: 6px 8px;
							border-radius: 4px;
							font-size: 14px;
							font-weight: var(--font-weight-s);
							text-align: center;
						}
					}
				}
			}
		}
	}

	.error-page {
		display: flex;
		justify-content: center;
		background-color: light-dark(var(--white), var(--blue-900));
		border-radius: 4px;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		padding: 16px;

		.error-page-text {
			font-size: 18px;
		}
	}

	.not-found-page {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		padding: 16px;
		background-color: light-dark(var(--white), var(--blue-900));
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		border-radius: 4px;
		font-size: 18px;

		.go-home-button {
			text-decoration: underline;
		}
	}
}

@keyframes shimmer {
	100% {
		left: 100%;
	}
}

@media (width > 376px) {
	body {
		font-size: 16px;

		header {
			margin-bottom: 56px;

			.header-container {
				.logo-text {
					font-size: 20px;
				}

				.theme {
					gap: 16px;

					svg {
						width: 20px;
						height: 20px;
					}

					.theme-text {
						font-size: 16px;
					}
				}
			}
		}

		main {
			.search {
				display: flex;
				justify-content: space-between;
				margin-bottom: 16px;

				.search-bar {
					width: 480px;
				}
			}

			.country-list {
				grid-template-columns: repeat(4, 1fr);
				gap: 72px;
			}

			.country-detail {
				width: 1300px;
				font-size: 18px;

				.country {
					flex-direction: row;
					align-items: center;
					gap: 124px;

					img {
						width: 40%;
						height: 400px;
					}

					.country-info {
						flex: 1;

						.country-name {
							font-size: 28px;
						}

						.country-info-wrapper {
							flex-direction: row;
							justify-content: space-between;
							margin-bottom: 72px;
						}

						.border-countries {
							flex-direction: row;
							gap: 32px;
						}
					}
				}
			}
		}
	}
}
